body {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

div, p, a, img, form, button {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Cuprum-Regular';
  src: url('../fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Cuprum-Regular.woff') format('woff'), url('../fonts/Cuprum-Regular.ttf') format('trutype'), url('../fonts/Cuprum-Regular.svg#Cuprum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Bold';
  src: url('../fonts/Cuprum-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Cuprum-Bold.woff') format('woff'), url('../fonts/Cuprum-Bold.ttf') format('trutype'), url('../fonts/Cuprum-Bold.svg#Cuprum-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Cuprum-Italic';
  src: url('../fonts/Cuprum-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Cuprum-Italic.woff') format('woff'), url('../fonts/Cuprum-Italic.ttf') format('trutype'), url('../fonts/Cuprum-Italic.svg#Cuprum-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('trutype'), url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('trutype'), url('../fonts/PTSans-Bold.svg#PTSans-Regular') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Italic.woff') format('woff'), url('../fonts/PTSans-Italic.ttf') format('trutype'), url('../fonts/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

.background-header1 {
  width: 100%;
  height: 40px;
  background-color: #293449;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.container {
  width: 100%;
  max-width: 940px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  margin: 0 auto;
}

.technomart {
  width: 220px;
  background: #ee3643;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  box-shadow: 0 5px 0 #b52933;
}

/* НАЧАЛО ФОРМЫ */
.header-form {
  width: 270px;
  display: flex;
}

.header-form form {
  width: 270px;
}

.header-form input, .header-form button {
  border: none;
  outline: none;
}

::placeholder {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #f5f5f6;
  font-size: 17px;
}

.header-form input {
  height: 38px;
  padding-left: 48px;
  color: #f5f5f5;
  background: #293449;
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.header-form button {
  width: 20px;
  height: 20px;
  align-items: center;
  background: url(../img/icon-search1.png) no-repeat center top / cover;
  cursor: pointer;
}

.header-form input {
  min-height: 40px;
}

.header-icon-img {
  margin-right: 10px;
}

.search-form {
  width: 100%;
  position: relative;
}

.search-input {
  width: 100%;
}

.search-submit {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

/* КОНЕЦ ФОРМЫ */

/* КНОПКИ ЗАКЛАДКИ КОРЗИНА И ОФОРМИТЬ ЗАКАЗ */
.header-btns {
  display: flex;
  flex-wrap: wrap;
}

.header-btns-item {
  background-color: #293449;
  color: #fff;
  padding: 10px 23px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

#green-btsn {
  background-color: #63a63e;
}
#red-btsn {
  background-color: #ee3643;
}
/* ЭФФЕКТЫ ПРИ НАВЕДЕНИИ ДЛЯ ЛОГО, ФОРМЫ И КНОПОК */

.container .technomart:hover {
  background: #ca2c37;
}

.container .technomart:active {
  background: #ba2732;
}

.header-form form:hover, .header-form input:hover {
  background: #212a3a;
}

.header-form input:hover + .search-submit {
  background-image: url(../img/icon-search2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-form input:focus {
  background-color: #fff;
  color: #000;
}

.header-form input:focus + .search-submit {
  background-image: url(../img/icon-search3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-form input:focus::placeholder {
  color: #000;
}

#green-btsn:hover {
  background-color: #5fbb2d;
}

#green-btsn:active {
  background-color: #518534;
}

#red-btsn:hover {
  background-color: #ca2c37;
}

#red-btsn:active {
  background-color: #ba2732;
}

.header-btns-item:hover {
  background-color: #212a3a;
}

.header-btns-item:hover .icon-bookmark {
  background-image: url(../img/icon-bookmark2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-btns-item:hover .icon-basket {
  background-image: url(../img/icon-basket2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-btns-item:active .icon-bookmark {
  background-image: url(../img/icon-bookmark3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-btns-item:active .icon-basket {
  background-image: url(../img/icon-basket3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-btns-item:active {
  color: #b3b4b6;
  background-color: #161d29;
}

/* КОНЕЦ ЗАКЛАДОК И КОРЗИНЫ */

/* ОПИСАНИЕ И КОНТАКТЫ МАГАЗИНА*/
.background-header2 {
  background-color: #f4f7f9;
  width: 100%;
  height: 277px;
}

.header-row-2 {
  top: 46px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Cuprum', 'Arial', sans-serif;
  width: 100%;
  max-width: 932px;
  margin: 0 auto;
  justify-content: space-between;
}

.description-item:first-child {
  margin-left: 50px;
  color: #ee3643;
  font-style: italic;
  line-height: 1.5em;
  font-size: 16px;
}

.user-login {
  display: flex;
  align-self: flex-start;
  align-items:center;
  padding: 13px;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  width: 298px;
}

.icon-user {
  position: relative;
  margin-right: 20px;
  top: 2px;
  background-image: url(../img/icon-user.png);
  width: 20px;
  height: 18px;
}

.name-user {
  color: #000000;
  display: flex;
}

.icon-logout {
  position: relative;
  margin-left: 90px;
  background-image: url(../img/icon-logout.png);
  width: 20px;
  height: 17px;
}

.my_orders-personal_area {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  margin-top: 11px;
}

.my_orders {
  text-decoration: underline;
  margin-left: 18px;
  color: #32425c;
}

.personal_area {
  text-decoration: underline;
  margin-left: 15px;
  color: #32425c;
}

.point-between {
  font-weight: bold;
  margin-left: 17px;
  color: #32425c;
}

.adress {
  position: relative;
  display: flex;
  font-size: 14px;
  color: #32425c;
  margin-top: 10px;
}

.phone_number {
  display: flex;
  position: relative;
  color: #ee3643;
  border: 3px solid white;
  font-size: 21px;
  justify-content: center;
  padding: 10px 0px;
}

.phone_number a {
  color: #ee3643;
}

.icon-phone {
  position: relative;
  display: flex;
  right: 33px;
  top: 3px;
}

.icon-user:hover {
  background: url(../img/icon-user-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-logout:hover {
  background: url(../img/icon-logout-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-logout:active {
  background: url(../img/icon-logout-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.my_orders:hover, .personal_area:hover {
  color: #ee3643;
}

.my_orders:active, .personal_area:active, .name-user:active {
  color: #c5cad0;
}


/* БЛОК НАВИГАЦИИ МЕНЮ */

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.header-row-3 {
  top: 66px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  width: 100%;
  max-width: 932px;
  margin: 0 auto;
  background-color: #32425c;
  justify-content: space-between;
  box-shadow: 0 5px 0 #293449;
}

li a {
  color: #f5f6f6;
}

.nav_item {
  padding: 20px 33px;
  display: inline-block;
}

.nav_item:hover {
  background: #293449;
}

.nav_item:active {
  color: #a1a4a8;
  background: #1d2739;
}
/* КОНЕЦ БЛОКА НАВИГАЦИИ */

.catalog-start {
  display: flex;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  margin-top: 24px;
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  width: 100%;
  max-width: 360px;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.breadcrumbs a {
  color: #000000;
}

.title-catalog {
  display: flex;
  font-size: 30px;
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  width: 100%;
  max-width: 940px;
  padding: 32px 0px 32px 30px;
  background-color: #f2f6f8;
  margin-top: 22px;
}

.row-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.filter-panel {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f3ec;
  padding: 13px 150px 13px 19px;
  font-size: 13px;
  color: #000000;
  font-family: serif;
  font-family: 'PT Sans', 'Arial', sans-serif;
  border-radius: 5px;
}

/* БЛОК СОРТИРОВКИ */

.sorting {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  width: 700px;
  padding: 13px 0px 13px 19px;
  font-size: 13px;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  border-radius: 5px;
}

.sorting-by {
  display: flex;
  width: 100%;
  max-width: 355px;
  margin-left: 140px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .sorting-by-items { */
  /* color: #b2b2b2; */
  /* border-bottom: 1px dashed #ee3643; */
/* } */
/*  */
/* .sorting-by-items:hover { */
  /* color: #000000; */
  /* border-bottom: 1px solid #ee3643; */
/* } */
/*  */
/* .sorting-by-items:focus { */
  /* color: #ee3643; */
  /* border-bottom: none; */
/* } */

.price-range-panel {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 220px;
}

.block-price-range label {
  font-size: 17px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  color: #000000;
}

/* КАРТОЧКИ ТОВАРА */
.flex-row-product-box {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-left: 20px;
  margin-left: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.product-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #eaeaea;
}

.manufacturers-box:hover {
  box-shadow:  0 5px 10px hsla(220, 8%, 79%, 1),
  -5px 5px 10px hsla(220, 8%, 79%, 1),
  5px -5px 10px hsla(220, 8%, 79%, 1),
  5px 0 10px hsla(220, 8%, 79%, 1);
}

.manufacturers-box:active {
  opacity: 0.5;
}

.desription-product {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.old-price {
  color: #a9a9a9;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-decoration: line-through;
}

.price-button {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 37px;
  line-height: 2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #ee3643;
  align-self: center;
  margin-top: 16px;
  left: -4px;
  margin-bottom: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.button-3 {
  margin-top: 59px;
}

.price-button:after {
  position: absolute;
  content: '';
  z-index: -1;
  display: inline-block;
  left: 100%;
  width: 2.3em;
  height: 2.3em;
  margin-left: -18px;
  -webkit-transform: rotate(45deg) scale(0.7081);
  -moz-transform: rotate(45deg) scale(0.7081);
  -ms-transform: rotate(45deg) scale(0.7081);
  -o-transform: rotate(45deg) scale(0.7081);
  transform: rotate(45deg) scale(0.7081);
  background: #ee3643;
}

.text-price-button {
  position: relative;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-style: bold;
  left: 40px;
  top: 3px;
  align-self: center;
}

.product-box .pefrorator-img {
  opacity: 1; pointer-events: all; transition: all .3s
}

.product-box:hover .pefrorator-img {
  opacity: 0; pointer-events: none;
}

.product-box .hidden-buttons{
  opacity: 0; pointer-events: none;
  transition: all .3s;
}

.product-box:hover .hidden-buttons {
  opacity: 1; pointer-events: all;
}


.hidden-buttons {
  position: absolute;
  text-decoration: none;
  margin-left: 42px;
  margin-top: 54px;
  z-index: 1;
}

.basket-left-top {
  position: relative;
  left:-25px;
  top:1px;
}

.buy-product {
  position: relative;
  background-color: #63a63e;
  padding: 11px 37px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 0 #367315;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.text_buy-product {
  position: relative;
  left:-10px;
}

.add-bookmarks {
  position: relative;
  background-color: #ffffff;
  padding: 11px 30px;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
  top: 38px;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.hidden-buttons .buy-product:hover {
  background-color: #5fbb2d;
}

.buy-product:hover .icon-basket {
  background-image: url(../img/icon-basket2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hidden-buttons .buy-product:active {
  background-color: #518534;
  box-shadow: 0 3px 0 #518534;
}

.buy-product:active .icon-basket {
  background-image: url(../img/icon-basket3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.hidden-buttons .add-bookmarks:hover {
  border: 3px solid #32425c;
}

.hidden-buttons .add-bookmarks:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}

.product-box:hover {
  box-shadow:  0 5px 10px hsla(220, 8%, 79%, 1),
  -5px 5px 10px hsla(220, 8%, 79%, 1),
  5px -5px 10px hsla(220, 8%, 79%, 1),
  5px 0 10px hsla(220, 8%, 79%, 1);
}

.new-flag2 {
  position: absolute;
  margin-left: 160px;
}

.flex-row-product-box .product-box:nth-child(1), .flex-row-product-box .product-box:nth-child(2),  .flex-row-product-box .product-box:nth-child(3), .flex-row-product-box .product-box:nth-child(4), .flex-row-product-box .product-box:nth-child(5), .flex-row-product-box .product-box:nth-child(6) {
  margin-bottom: 20px;
}

/* КОНЕЦ КАРТОЧЕК ТОВАРА */

/* ДИАПОЗОН ЦЕН */

.flex-block-price-items {
  display: flex;
  flex-direction: row;
}

.price-range-panel {
  display: flex;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 22px;
}

.filter-item legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 160px;
}

.dash {
  position: relative;
  font-size: 10px;
  left: 10px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
  padding: 10px 0 10px 0;
}

.max-price {
  text-align: right;
}

p label {
  position: relative;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
}

p input {
  position: relative;
  border: 0;
  color: #000000;
  font-size: 17px;
  left: 20px;
  top: 50px;
}

.divining-line {
  position: relative;
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 25px;
}

.divining-line-2 {
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
}

.manufacturer-block {
  margin-top: 25px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0px;
  height: 0px;
}

.filter-button {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 38px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.filter-button:hover{
  border: 1px solid #ee3643;
}

.filters {
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 5px;
}

.filter legend {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 17px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.filter-input-checkbox + label::before {
  content: "";
  background-image: url(../img/checkbox-off.png);
  position: absolute;
  left: -42px;
  width: 23px;
  height: 23px;
  top: -3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  background-image: url(../img/checkbox-on.png);
  position: absolute;
  left: -42px;
  width: 27px;
  height: 23px;
  top: -3px;
}

.filter-input-radio + label::before {
  content: "";
  background-image: url(../img/radio-off.png);;
  position: absolute;
  left: -42px;
  top: -4px;
  width: 25px;
  height: 25px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -34px;
  width: 9px;
  height: 9px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filters {
  position: relative;
  top: 20px;
}

.filter-panel {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f3ec;
  padding: 13px 150px 13px 19px;
  font-size: 13px;
  color: #000000;
  font-family: serif;
  font-family: 'PT Sans', 'Arial', sans-serif;
  border-radius: 5px;
  margin-bottom: 20px;
}


/* БЛОК СОРТИРОВКИ */
.sorting {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f3ec;
  width: 700px;
  padding: 13px 0px 13px 19px;
  font-size: 13px;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sorting-by {
  display: flex;
  width: 100%;
  max-width: 355px;
  margin-left: 140px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-by-items {
  color: #b2b2b2;
  border-bottom: 1px dashed #ee3643;
}


.sorting-by-items:nth-child(2) {
  position: relative;
  left: 9%;
}

.sorting-by-items:nth-child(3) {
  position: relative;
  left: 22%;
}

.sorting-by-items:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-by-items:focus {
  color: #ee3643;
  border-bottom: none;
}

.triangle-up {
  position: relative;
  width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
  border-bottom: 12px solid #c5c5c5;
  margin-top: 3px;
  left: 27%;
}

.triangle-down {
  position: relative;
  width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
  border-top: 12px solid #c5c5c5;
  margin-top: 3px;
  left: 23%;
}

.triangle-up:hover {
  border-bottom: 12px solid #231f20;
}

.triangle-down:hover {
  border-top: 12px solid #231f20;
}

.triangle-up:focus {
  border-bottom: 12px solid #ee3643;
}

.triangle-down:focus {
  border-top: 12px solid #ee3643;
}

/* КАРТОЧКИ ТОВАРОВ */
.flex-row-product-box {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-left: 20px;
  margin-left: 20px;
  justify-content: space-between;
}

.product-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #eaeaea;
}

.manufacturers-box:hover {
  box-shadow:  0 5px 10px hsla(220, 8%, 79%, 1),
  -5px 5px 10px hsla(220, 8%, 79%, 1),
  5px -5px 10px hsla(220, 8%, 79%, 1),
  5px 0 10px hsla(220, 8%, 79%, 1);
}

.manufacturers-box:active {
  opacity: 0.5;
}

.desription-product {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.price-button:after {
  position: absolute;
  content: '';
  z-index: -1;
  display: inline-block;
  left: 100%;
  width: 2.3em;
  height: 2.3em;
  margin-left: -18px;
  -webkit-transform: rotate(45deg) scale(0.7081);
  -moz-transform: rotate(45deg) scale(0.7081);
  -ms-transform: rotate(45deg) scale(0.7081);
  -o-transform: rotate(45deg) scale(0.7081);
  transform: rotate(45deg) scale(0.7081);
  background: #ee3643;
}

.text-price-button {
  position: relative;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-style: bold;
  left: 40px;
  top: 3px;
  align-self: center;
}

.product-box .pefrorator-img {
  opacity: 1; pointer-events: all; transition: all .3s
}

.product-box:hover .pefrorator-img {
  opacity: 0; pointer-events: none;
}

.product-box .hidden-buttons{
  opacity: 0; 
  pointer-events: none;
  transition: all .3s;
}

.product-box:hover .hidden-buttons {
  opacity: 1; pointer-events: all;
}


.hidden-buttons {
  position: absolute;
  text-decoration: none;
  margin-left: 42px;
  margin-top: 54px;
  z-index: 1;
}

.basket-left-top {
  position: relative;
  left:-25px;
  top:1px;
}

.buy-product {
  position: relative;
  background-color: #63a63e;
  padding: 11px 37px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 0 #367315;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.text_buy-product {
  position: relative;
  left: -10px;
}

.add-bookmarks {
  position: relative;
  background-color: #ffffff;
  padding: 11px 30px;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
  top: 38px;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.hidden-buttons .buy-product:hover {
  background-color: #5fbb2d;
}

.buy-product:hover .icon-basket {
  background-image: url(../img/icon-basket2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hidden-buttons .buy-product:active {
  background-color: #518534;
  box-shadow: 0 3px 0 #518534;
}

.buy-product:active .icon-basket {
  background-image: url(../img/icon-basket3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.hidden-buttons .add-bookmarks:hover {
  border: 3px solid #32425c;
}

.hidden-buttons .add-bookmarks:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}

.product-box:hover {
  box-shadow:  0 5px 10px hsla(220, 8%, 79%, 1),
  -5px 5px 10px hsla(220, 8%, 79%, 1),
  5px -5px 10px hsla(220, 8%, 79%, 1),
  5px 0 10px hsla(220, 8%, 79%, 1);
}

.new-flag2 {
  position: absolute;
  margin-left: 160px;
}

.flex-row-product-box .product-box:nth-child(2), .flex-row-product-box .product-box:nth-child(3),  .flex-row-product-box .product-box:nth-child(4), .flex-row-product-box .product-box:nth-child(5), .flex-row-product-box .product-box:nth-child(6), .flex-row-product-box .product-box:nth-child(7) {
  margin-bottom: 20px;
}

.pages-slider {
  display: flex;
  width: 100%;
  max-width: 285px;
  justify-content: space-between;
  margin-top: 52px;
  font-size: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.pages-slider a:nth-child(1),.pages-slider a:nth-child(2),.pages-slider a:nth-child(3) {
  padding: 14px;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
}

.pages-slider a:nth-child(4) {
  padding: 14px 33px;
  border: 1px solid #e5e5e5;
  color: #000;
  border-radius: 3px;
}

.pages-slider a:hover {
  border: 1px solid #bdc6ca;
}

.pages-slider a:active {
  border: 1px solid #ee3643;
}

.pages-slider a:focus {
  color: #ffffff;
  background-color: #ee3643;
}

.background-description {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 260px;
  background-color: #f2f6f8;
}

.description-perforator {
  position: relative;
  display: block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  top: 68px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.title-about-perforator {
  font-size: 30px;
}

.about-perforator {
  position: relative;
  font-size: 13px;
  top: 40px;
  line-height: 1.6;
}

.background-footer-1 {
  width: 100%;
  background-color: #32425c;
}

.background-footer-2 {
  width: 100%;
  background-color: #293449;
}

.footer-start {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  margin: 0 auto;
  height: 193px;
}

technomart-adress-footer {
  display: flex;
  flex-direction: column;
}

.technomart-footer {
  display: flex;
  width: 220px;
  height: 63px;
  background: #ee3643;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 5px 0 #b52933;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 545px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  justify-content: space-between;
  color: #f1f5f7;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 545px;
  margin-left: auto;
  margin-top: 43px;
  margin-right: 20px;
}

.adress-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 18px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #f1f5f7;
  margin-top: 47px;
}

.footer-row2 {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 523px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  color: #ffd180;
  justify-content: space-between;
  margin-top: 45px;
  padding-left: 24px;
}

.footer-row2 .foot_item {
  color: #ffd180;
}

.technomart-footer:hover {
  background: #ca2c37;
}

.technomart-footer:active {
  background: #ba2732;
}

.foot_item:hover {
  text-decoration: underline;
}

.foot_item:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-end {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  margin: 0 auto;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.footer-end-item-adress {
  font-size: 16px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #f3f7f9;
}

.icons-footer {
  display: flex;
  flex-wrap: wrap;
  width: 135px;
  justify-content: space-between;
}

.icon-footer {
  display: flex;
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #212a3a;
}

.feedback-website-block {
  display: flex;
  width: 290px;
  justify-content: space-between;
}

.feedback-footer, .website-developer {
  font-size: 16px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #f3f7f9;
}

.website-developer {
  padding-right: 14px;
}

.color-mail-website {
  color: #ffd180;
}

.icon-footer:hover {
  background-color: #ee3643;
}

.color-mail-website:hover, .color-mail-website:hover {
  text-decoration: underline;
}

h6 {
  visibility: hidden;
}